<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122833043667-9c2v2umsqrefbu6s8q6ua8eapbqbfope.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122833043667-9c2v2umsqrefbu6s8q6ua8eapbqbfope</string>
	<key>API_KEY</key>
	<string>AIzaSyCQlixjXPMoqYI4pgKwSSSGWMv5rtthr5k</string>
	<key>GCM_SENDER_ID</key>
	<string>122833043667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger59-5b9d1</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger59-5b9d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122833043667:ios:e81e0094515d0cd6d79426</string>
	<key>DATABASE_URL</key>
	<string>https://messenger59-5b9d1.firebaseio.com</string>
</dict>
</plist>